<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FULL NHUBACKEND</title>
    <link rel="stylesheet" href="/css/sample.css"> 
    <!-- because we indecate a specific location so we just indicate sub-folder -->
</head>
<body>
    Welcome to Nguyễn Quốc Nhu backend! nodemon!
    <div>
        <img class ="pic" src="images/Back-End-Developer-Roadmap-2022.jpg" alt="backend"> 
        <!-- because we indecate a specific location so we just indicate sub-folder -->
    </div>
</body>
</html>